<div class="view_mode">
	<p id="notice"><%= notice %></p>

	<%= render :partial => @post %>

	<div class="edit-privilege-links">
		<%= 
			# allow the user to edit the blog post only if they are the owner
			if current_user && @post.author == current_user.id 
				link_to 'Edit', edit_post_path(@post), :class => "button" 
			end 
		%>
		<%= link_to 'Back', posts_path,
		:class => "button" %>
	</div>

	<h1>Comments</h1>
	<%= form_for [@post, Comment.new] do |f| %>
		<p>
			<%= f.text_area :body,
					:value => "Enter your comment here ..."  %>

			<%= f.hidden_field :author, 
					:value => current_user.id if current_user %>  
					
			<%= f.submit "Add comment",
			     :class => "button inline" %>
	</p>
	<% end %>
	<div id="comments">
		<%= render :partial => @post.comments %>
	</div>
</div>	