<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "page.css" %>  
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="user">
		<%= link_to current_user.username, :account_profile %>
	</div>
	<div id="menu">
	<div id="user_nav">
		<% if current_user %>
			<%= link_to "Posts", :posts %>
			<%= link_to "Log out", :logout %>
		<% else %>
			<%= link_to "Sign up", :register %> or
			<%= link_to "log in", :login %>
		<% end %>
	</div>	
	</div>
	<div id="content">
		<%= yield %>
	</div>
</body>
</html>
